<!DOCTYPE html>
<html>
<head>
    <title>Recipes List</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<h1>Recipes</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Views</th>
            <th>Cook Time (min)</th>
        </tr>
    </thead>
    <tbody>
        {% for recipe in recipes %}
        <tr>
            <td><a href="/recipes/{{ recipe.id }}">{{ recipe.name }}</a></td>
            <td>{{ recipe.views }}</td>
            <td>{{ recipe.cook_time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>
